<%- include('../partials/headerWNav'); %>
<table class="table">
    <tr><th>Símbolo</th> <th>Nombre</th> <th>Acciones</th> <th>Valor</th><th>Total</th></tr>
</table>    
<%- include('../partials/footer'); %>