<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Finanzas Volta</title>

    <style>
        body{
            display:grid;
            grid-template-columns: 10% 80% 10%;
            grid-template-rows: auto;
            grid-template-areas: "nav nav nav"
            "left content right"
            "footer footer footer";
        }
        nav{
            grid-area:nav;
        }
        footer{
            grid-area:footer;
        }
        #content{
            grid-area:content;
        }
    </style>

</head>
<body>

