.smallCentered{
    display: grid;
    grid-template-columns: minmax(190px,460px);
    /* height: calc(100vh - 20px); */
    align-items: center;
    justify-content: center;
}
.infoInForm{
    padding-bottom: 30px;
    text-align: center;
}